main {
    background-color: @cream;
    display: flex;
    flex-direction: column;
    
    .hero {

        button {
            background-color: @pear;
        
        }
    }
    
}

section {
    background-color: @off-white;
    display: flex;
    flex-direction: column;
}