// Font Styling Mix-ins
.font-styling-h1(){
    font-style: Roboto;
    font-size: 1.5em;
}

.font-styling-h2(){
    font-style: Oswald;
    font-size: 1.5em;
}

.font-styling-h2-alt(){
    font-style: Caladea;
    font-size: 1.5em;
}

.font-styling-p(){
    font-style: Spartan;
    font-size: 1.5em;
}

.font-styling-p-alt(){
    font-style: Lato;
    font-size: 1.5em;
}

.font-styling-nav(){
    font-style: lobster;
    font-size: 1.5em;
}

//Positioning Mixins





//Card Mixins