//Color Assignments
@accent-font-color: @white;
@font-color: @black;
@main-bg: @white;
@navigation: @dark-green;
@header: @grass-green;
@section: @off-white;
@footer: @shark;

//Colors - Many colors listed as I play with the pallet
// Greyscale
@off-white: #F6F7FB;
@white: #FFFFFF;
@black: #000;
@grey-light: #55596D;
@shark: #212529;
@silver: #C0C0C0;
@grey: #90908A;
@darkgrey: #5C5D59;
@cream: #eae7e0;

//greens
@dark-green: #207561;
@grass-green: #589167;
@light-green: #a0cc78;
@forrest-green: #234717;
@grassygreen: #748A29;
@asperagus: #5f6c11;
@pear: #cfd68b;
@green-bean: #282c01;

//red orange yellow brown
@red: #9d0b0b;
@pumpkin: #da4302;
@sunshine-yellow: #feb72b;
@brownsienna: #8A311D;
@lemon: #fbc11a;
@lemonade: #fade98;


//blues
@light-blue: #00a8cc;
@teal: #4d9699;
@ocean-blue: #204c72;





@dark-green-hover:  darken(@dark-green, 10%);
 



//Media Widths

//500PX Width - Mobile
@mobile: ~"(max-width: 500px)";

//800PX Width - Tablet
@tablet: ~"screen and (max-width: 1000px) and (min-width: 501px)";

//1000PX Width - Desktop
@desktop: ~"screen and (min-width: 1001px)";