//Color Assignments
@accent-font-color: @white;
@font-color: @black;
@main-bg: @white;
@navigation: @dark-green;
@header: @grass-green;
@section: @off-white;
@footer: @shark;

//Colors
@off-white: #F6F7FB;
@white: #FFFFFF;

@black: #000;
@grey-light: #55596D;
@shark: #212529;
@silver: #C0C0C0;

@dark-green: #207561;
@grass-green: #589167;
@light-green: #a0cc78;

@red: #9d0b0b;
@pumpkin: #da4302;
@sunshine-yellow: #feb72b;
@light-blue: #00a8cc;


//Media Widths