/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'lato', sans-serif;
}
h1 {
  font-size: 4rem;
  color: blue;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  margin: 0;
}
header {
  background-color: #207561;
  margin-top: 0px;
  padding: 0px;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  nav {
    display: flex;
    align-content: flex-end;
    font-size: 1em;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1001px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
nav .main-logo {
  align-self: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  nav .main-logo {
    width: 300px;
    align-self: flex-start;
  }
}
@media screen and (min-width: 1001px) {
  nav .main-logo {
    width: 300px;
  }
}
nav a {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5em;
  margin: 4px 2px;
  margin: 0 auto;
}
nav a:hover {
  color: #154d40;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  nav a:hover {
    color: #fbc11a;
  }
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  nav a {
    background-color: #207561;
    width: 30%;
    justify-content: center;
    padding: 5%;
    margin: 0;
  }
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  nav .login-button-link {
    background-color: #154d40;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 13px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4d9699;
}
footer .foot-nav {
  display: flex;
  flex-direction: column nowrap;
  justify-content: space-around;
  width: 100%;
  border-top: 2px dashed #eae7e0;
}
footer .foot-nav a {
  text-decoration: none;
  align-content: flex-start;
}
footer .foot-nav .foot-logo {
  align-self: center;
  width: 50%;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  footer .foot-nav .foot-logo {
    width: 300px;
  }
}
@media screen and (min-width: 1001px) {
  footer .foot-nav .foot-logo {
    width: 300px;
  }
}
main {
  background-color: #eae7e0;
  display: flex;
  flex-direction: column;
}
main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/asparagus-2169305_640.jpg");
  background-repeat: no-repeat;
  padding: 5%;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  main .hero {
    display: flex;
    background-position: center;
    margin: 2%;
  }
  main .hero h2 {
    color: orange;
    align-self: flex-start;
  }
  main .hero h3 {
    color: #fbc11a;
    align-self: flex-end;
  }
  main .hero p {
    color: #eae7e0;
  }
  main .hero .box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
    border-radius: 12%;
    width: 80%;
    justify-content: center;
    align-self: center;
  }
}
main .hero h2 {
  color: #eae7e0;
  align-self: flex-start;
}
main .hero h3 {
  color: #fbc11a;
  align-self: flex-end;
}
main .hero p {
  color: #eae7e0;
}
main .hero .box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  border-radius: 12%;
  width: 74%;
}
@media screen and (min-width: 1001px) {
  main .hero {
    display: flex;
    background-position: left;
    margin: 2%;
  }
  main .hero h2 {
    color: orange;
    align-self: flex-start;
  }
  main .hero h3 {
    color: #fbc11a;
    align-self: flex-end;
  }
  main .hero p {
    color: #eae7e0;
  }
  main .hero .box {
    background-color: rgba(7, 82, 105, 0.9);
    padding: 5%;
    border-radius: 12%;
    width: 45%;
    justify-content: flex-end;
    align-self: flex-end;
  }
}
main button {
  background-color: #207561;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  main button {
    width: 50%;
    justify-content: center;
    align-self: center;
    margin: 3%;
  }
}
@media screen and (min-width: 1001px) {
  main button {
    width: 20%;
    align-self: center;
  }
}
section {
  background-color: #eae7e0;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  section {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1001px) {
  section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
section .Search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  background-color: #00B7C3;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  section .Search {
    width: 33.3%;
    margin: 3%;
    filter: drop-shadow(5px 5px 2px #008790);
    text-align: center;
  }
}
@media screen and (min-width: 1001px) {
  section .Search {
    width: 33.3%;
    margin: 3%;
    filter: drop-shadow(5px 5px 2px #008790);
    text-align: center;
  }
}
section .Search .small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae7e0;
  padding: 10%;
}
section .Search .small-card h2 {
  font-weight: bold;
  color: #008790;
}
section .favorite {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  background-color: #4CAF50;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  section .favorite {
    width: 33.3%;
    margin: 3%;
    filter: drop-shadow(5px 5px 2px #154d40);
    text-align: center;
  }
}
@media screen and (min-width: 1001px) {
  section .favorite {
    width: 33.3%;
    margin: 3%;
    filter: drop-shadow(5px 5px 2px #154d40);
    text-align: center;
  }
}
section .favorite .small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae7e0;
  padding: 10%;
}
section .favorite .small-card h2 {
  font-weight: bold;
  color: #207561;
}
section .create {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  background-color: #fbc11a;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) and (min-width: 501px) {
  section .create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    margin: 3%;
    filter: drop-shadow(5px 5px 2px #dea604);
    text-align: center;
  }
}
@media screen and (min-width: 1001px) {
  section .create {
    width: 33.3%;
    margin: 3%;
    filter: drop-shadow(5px 5px 2px #dea604);
    text-align: center;
  }
}
section .create .small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae7e0;
  padding: 10%;
}
section .create .small-card h2 {
  font-weight: bold;
  color: #dea604;
}
.about-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  padding: 30px;
  background-color: #207561;
}
.about-main h1 {
  color: #fbc11a;
  font-weight: bold;
}
.about-main a {
  text-decoration: none;
  font-weight: bold;
  color: #fade98;
  font-size: 2rem;
}
.about-main p {
  font-size: 1.5em;
  color: white;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 2px solid #4d9699;
  border-bottom: 2px solid #4d9699;
  padding: 20px;
  background-color: #eae7e0;
}
.cards h1 {
  padding: 20px;
  color: #fbc11a;
}
.cards .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 5px;
}
.cards .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.cards .flip-card-front,
.cards .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.cards .flip-card-front {
  background-color: #bbb;
  color: black;
  border: 3px solid #4d9699;
}
.cards .flip-card-back {
  background-color: #207561;
  color: white;
  transform: rotateY(180deg);
}
.cards .flip-card-back a {
  text-decoration: none;
  color: white;
}
